<!-- <h3>Recent Activity</h3>
{% for room_message in room_messages %}

<small> <a href="{% url 'profile-page' room_message.user.id %}">@{{room_message.user}}</a> {{room_message.updated | timesince}} replied to <a href="{% url 'room' room_message.room.id%}">"{{room_message.room.name}}"</a></small>
<p>{{room_message}}....</p> 
<a href="{% url 'room' room_message.room.id%}">Jump into the conversation</a>
<br>
<small> >>> <a href="{% url 'home' %}?q={{room_message.room.topic}}"> {{room_message.room.topic}}</a> <<< </small>
<hr>

{% endfor %} -->



  {% for room_message in room_messages %}
  <div class="activities__box">
    <div class="activities__boxHeader roomListRoom__header">
      <a href="{% url 'profile-page' room_message.user.id %}" class="roomListRoom__author">
        <div class="avatar avatar--small">
          <img src="{{room_message.user.avatar.url}}" />
        </div>
        <p>
          @{{room_message.user.name}}
          <span>{{room_message.updated | timesince}} ago</span>
        </p>
      </a>
      
      <div class="roomListRoom__actions">
        {% if request.user.is_authenticated and request.user == room_message.user %}
        <a href="{%url 'delete-message' room_message.id %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>remove</title>
            <path
              d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
            ></path>
          </svg>
        </a>
        {%endif%}
      </div>
      
    </div>
    <div class="activities__boxContent">
      <p>replied to post “<a href="{% url 'room' room_message.room.id%}">{{room_message.room.name}}</a>”</p>
      <div class="activities__boxRoomContent">
        {{room_message}}.... <a href="{% url 'room' room_message.room.id%}">Reply</a>
      </div>
    
      
    </div>
  </div>

  {% endfor %}
</div>
